html,
body {
  width: 100%;
  height: 100%;
}
#root {
  height: 100%;
}
body {
  background: #eeeee5 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#preShow {
  padding: 0 !important;
}
::-webkit-scrollbar {
  display: none;
}

.newCard {
  margin-top: 5%;
  margin-bottom: 5%;
}
#hoursTable {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100% !important;
}
.card {
  height: 100%;
}
.card .card-body {
  height: 100%;
}
.container,
.row {
  min-width: 100% !important;
  height: 100% !important;
}
.font {
  font-size: 1.5rem;
}
.fontw {
  font-size: 1.2rem;
}
.fontS {
  font-weight: 500 !important;
  font-size: 3rem !important;
}
#formConsult {
  margin-top: 15% !important;
}
.mst {
  height: 100%;
}
.fontP {
  font-weight: 300;
  font-size: 1.8rem;
}
#hello {
  margin-top: 20%;
}
.hello {
  overflow: hidden !important;
}
#status {
  margin-top: 50%;
}
#error {
  margin-top: 20%;
}
.remoColor {
  color: white;
  background: #29cd9c !important;
}

.bgColor {
  background: #29cd9c !important;
}

.navBarColor {
  color: white;
  background: #135c4662 !important;
}

.remoColor2 {
  color: white;
  background: rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 600px) {
  .newCard {
    margin-top: 12%;
    margin-bottom: 0%;
  }
  #root {
    height: 100%;
  }
  #hello {
    margin-top: 70%;
  }

  #error {
    margin-top: 70%;
  }

  #status {
    margin-top: 70%;
  }
  #formConsult {
    min-width: 100% !important;
    margin-top: 50% !important;
  }
  .card-header h1 {
    font-size: 40px;
  }
  #hoursTable {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100% !important;
  }
  .card {
    height: 100%;
  }
  .card .card-body {
    height: 100%;
  }
  .container,
  .row {
    height: 100% !important;
  }

  h1 {
    font-size: 50px;
  }
  .col-6 {
    max-width: 100% !important;
  }
  .font {
    font-size: 1.1rem;
  }

  .fontw {
    font-size: 0.9rem;
  }
}

@media (max-width: 380px) {
  .newCard {
    margin-top: 12%;
    margin-bottom: 0%;
  }
  .fontS {
    font-weight: 500 !important;
    font-size: 40px !important;
  }

  svg {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .newCard {
    margin-top: 15%;
    margin-bottom: 0%;
  }
  .fontS {
    font-weight: 500 !important;
    font-size: 34px !important;
  }
  svg {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .newCard {
    margin-top: 15%;
    margin-bottom: 22%;
  }
  .fontS {
    font-weight: 500 !important;
    font-size: 34px !important;
  }
  svg {
    width: 100%;
  }
}
