html,
body {
  width: 100%;
  height: 100%;
}
#root {
  height: 100%;
}

body {
  background: #eeeee5 !important;
  /* background: #28a745 !important; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#preShow {
  padding: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}

#hoursTable {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100% !important;
}
.card {
  height: 100%;
}
.card .card-body {
  height: 100%;
}

.container,
.row {
  min-width: 100% !important;
  height: 100% !important;
}

.font {
  font-size: 1.5rem;
}

.fontw {
  font-size: 1.2rem;
}

.fontS {
  font-weight: 500 !important;
  font-size: 3rem !important;
}

#formConsult {
  margin-top: 15% !important;
}

.fontP {
  font-weight: 300;
  font-size: 1.8rem;
}
#hello {
  margin-top: 20%;
}
.hello {
  overflow: hidden !important;
}

#status {
  margin-top: 50%;
}

#error {
  margin-top: 20%;
}

.remoColor {
  color: white;
  background: #29cd9c !important;
}

@media (max-width: 600px) {
  #root {
    height: 100%;
  }
  #hello {
    margin-top: 70%;
  }

  #error {
    margin-top: 70%;
  }

  #status {
    margin-top: 70%;
  }
  #formConsult {
    min-width: 100% !important;
    margin-top: 50% !important;
  }
  .card-header h1 {
    font-size: 40px;
  }
  #hoursTable {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100% !important;
  }
  .card {
    height: 100%;
  }
  .card .card-body {
    height: 100%;
  }
  .container,
  .row {
    height: 100% !important;
  }

  h1 {
    font-size: 50px;
  }
  .col-6 {
    max-width: 100% !important;
  }
  .font {
    font-size: 1.1rem;
  }

  .fontw {
    font-size: 0.9rem;
  }
}
