.modal-title {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  width: 100% !important;
}

.modal-footer {
  justify-content: space-between !important;
}

#chatra.chatra--side-bottom {
  bottom: 57px !important;
}

#chatra {
  max-height: calc(100% - 80px) !important;
}

@media (max-width: 600px) {
  #chatra.chatra--visible {
    visibility: hidden !important;
    opacity: 1;
  }
}

@media (max-height: 470px) {
  #chatra.chatra--visible {
    visibility: hidden !important;
    opacity: 1;
  }
}
